{% extends "base.html" %} {% block title %} Impact jobs {% endblock %} {% block
content %}
<div class="row">
  <div class="col-6">
    <div
        class="p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3"
      >
        Current accuracy : {{accuracy}}
      </div>
    <form class="row" action="/impacts/verify.html" method="post">
      <h3>Verify impact job form</h3>
      {% if error %}
      <div
        class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3"
      >
        {{error}}
      </div>
      {% endif%} {% if impact %}
      <div
        class="p-3 text-success-emphasis bg-success-subtle border border-success-subtle rounded-3"
      >
        It's a job with substantial impact !
      </div>
      {% endif %} {% if impact == False %}
      <div
        class="p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3"
      >
        The job is not consequential or impactful !
      </div>
      {% endif%}
      <div class="col-6">
        <label for="job-title" class="form-label">Job Title</label>
        <input
          type="text"
          class="form-control"
          value="{{form.get('title', '')}}"
          name="title"
          id="job-title"
        />
      </div>
      <div class="col-6">
        <label for="org-name" class="form-label">Organization Name</label>
        <input
          type="text"
          class="form-control"
          value="{{form.get('org_name', '')}}"
          name="org_name"
          id="org-name"
        />
      </div>
      <div class="col-12">
        <label for="job-desc" class="form-label">Job Description</label>
        <textarea
          type="text"
          class="form-control"
          id="job-desc"
          rows="3"
          name="description"
        >
{{ form.get('description', '') }}
        </textarea>
        <div class="col-12">
          <label for="job-desc" class="form-label"
            >Organization Description</label
          >
          <textarea
            type="text"
            class="form-control"
            id="job-desc"
            rows="3"
            name="org_description"
          >
{{ form.get('org_description', '') }}
</textarea
          >
        </div>
        <br />
        <div class="col-4">
          <button
            class="btn btn-primary d-inline-flex align-items-center"
            type="submit"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock%}
